<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Convertidor de Documentos</title>

</head>

<body>
    
    <div class="container">
        <h1>Convertidor de Documentos PDF</h1>
        <form action="/convert" method="post" enctype="multipart/form-data">
            <input type="file" name="pdf_file" accept=".pdf" required>
            <button type="submit">Convertir a DOCX</button>
        </form>
    </div>

    <div class="instructions">
        <h2>Instrucciones</h2>
        <p>1. Haga clic en el botón para seleccionar un archivo de texto (.pdf) desde su computadora.</p>
        <p>2. Después de seleccionar el archivo, se le pedirá que ingrese un nombre para el archivo docx resultante. Si no ingresa un nombre, se usará el mismo nombre del archivo de texto con la extensión .docx.</p>
        <p>3. El archivo docx se generará y se descargará automáticamente en su computadora.</p>
    </div>

    <div class="footer">
        <p>&copy; 2026 Convertidor de Documentos.</p>
    </div>

</body>
</html>